/*

Author: Matthew Larsen
Date: 01/14/2025
Portfolio Project: HTML Resume
Filename: reset.css
File Description: Reset browser default style settings

*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}