/*

Author: Matthew Larsen
Date: 01/14/2025
Portfolio Project: HTML Resume
Filename: styles.css
File Description: CSS for index.html page

*/


/*
Site colors:

aside text
color: #ffffff;

body background
color: #f5f5f5;

header background 
color: #a1c4be

aside links
color: #cbcbcb;

shadows
color: #a9a9a9;

aside background
color: #404040;

body text
color: #000000 


*/



/*********************
Body Layout and General Styles
**********************/

body
{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", serif;
  color: #000000;
  background-color: #f5f5f5;
  font-size: 1rem;
 
}

h1
{
font-size: 2.5rem;
}

h1,h2
{
  font-weight: 600;
}

h2
{
  font-size: 1.3rem;
  margin-bottom: .8rem;
}



/*********************
Main Layout and Styles
**********************/

main 
{
  display: flex;
  flex-direction: row-reverse;
}



/*********************
Article Layout and Styles
**********************/

article 
{
  display: flex;
  flex-direction: column;
  border-bottom: .1rem solid #000000;
}

header 
{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 8rem;
  font-size: 2.5rem; 
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: #a1c4be;
  border-top: .1rem solid #000000;
  border-bottom: .1rem solid #000000;
}

.bio
{
  padding: 2rem;
}

.summary
{
  margin-bottom: 1.5rem;
}

.work
{
  list-style: none;
}

.work p
{
  font-weight: 600;
  margin-bottom: .8rem;
}

.duties
{
  list-style-position: inside;
  list-style-type: disc;
  font-size: .8rem;
  padding-left: 1rem;
  margin-bottom: .6rem;
}

.duties li
{
  margin-bottom: .2rem;
}



/**********************
Aside Layout and Styles
***********************/

aside 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 1rem;
  color: #ffffff;
  background-color: #404040;
  border-right: .1rem solid #000000;
}


/* Aside Image Styles */
img 
{
  align-self: center;
  width: 80%;
  border: 3px solid #000000;
  border-radius: 100rem;
  box-shadow: 3px 3px 10px #a9a9a9;
  margin-bottom: 2rem;
}


/* Aside Contact Styles */
.contact
{
  align-content: center;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: .1rem solid #f5f5f5;
}

.contactLinks
{
  text-align: center;
  list-style-type: none;
}

.contactLinks li
{
 margin-bottom: 1rem;
}

.contactLinks li:last-child
{
 margin-bottom: 0;
}


/* Aside Link Styles */
aside a:link 
{
  color:  #cbcbcb;
  text-decoration: none;
}

aside a:visited
{
  color:  #cbcbcb;
  text-decoration: none;
}

aside a:hover {
  color:  #ffffff;
  text-decoration: underline;
}

aside a:active
{
  background-color: #f5f5f5;
  font-style: italic;
}


/* Aside Section Styles */
aside section
{
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: .1rem solid #f5f5f5;
}

aside h2
{
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.education ul
{
  list-style-type: none;
}

.education li
{
  margin-bottom: .8rem;
}

.education li:last-child
{
 margin-bottom: 0;
}

.certifications ul
{
  list-style-position: inside;
}

.certifications ul li
{
  margin-bottom: .8rem;
}

.certifications li:last-child
{
 margin-bottom: 0;
}

.skills
{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.skills ul
{
  list-style-position: inside;
}

.skills ul li
{
  margin-bottom: .8rem;
}

.skills li:last-child
{
 margin-bottom: 0;
}



/**********************
Footer Layout and Styles
***********************/

footer 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer ul
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

.socials{
  margin-bottom: 2rem;
  
}

.socials li
{
  text-align: center;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('/images/hackerrank-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer Link Styles */
footer a:link 
{
  color: #000000;
  text-decoration: none;
}

footer a:visited 
{
  color: #000000;
  text-decoration: none;
}

footer a:hover 
{
  color: #000000;
  font-weight: 550;
  text-decoration: underline;
}

footer a:active 
{
  color: #f5f5f5;
  background-color: #000000;
  font-style: italic;
}

footer p
{
  font-size: .7rem;
}



































/*****************
Responsive styles:
******************/

/************************************************
Desktop styles (screen width less than 1200px): 
************************************************/

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
  header section {
    font-size: 1.4em;
    padding: 0.8rem;
  }
  aside {
    font-size: 1rem;
  }
}


/*******************************************
Mobile styles (screen width less than 960px): 
********************************************/

@media screen and (max-width: 960px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "head head head head"
      "aside main main main"
      "foot foot foot foot";
  }
  header {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "nav nav nav nav"
      "img sec sec sec";
  }
  nav {
    font-size: 1rem;
    padding: 0.3rem;
  }

  header section {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  main {
    font-size: 1.1rem;
    padding: 1rem;
    padding-bottom: 0;
  }

  main section {
    margin-bottom: 1.5rem;
  }

  main li {
    margin-bottom: 1rem;
  }

  aside {
    font-size: 0.9rem;
    padding: 1rem 1rem;
    padding-right: 0;
  }

  aside li {
    margin-bottom: 1rem;
  }

  footer {
    font-size: 0.9rem;
    padding: 0.3rem;
  }
}

/*******************************************
Mobile styles (screen width less than 720px): 
********************************************/

@media screen and (max-width: 720px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    text-shadow: None;
  }

  header section {
    font-size: 1rem;
    padding: 0.4rem;
  }

  main {
    font-size: 0.9rem;
    padding: 0.9rem;
  }

  main section {
    margin-bottom: 1rem;
  }

  main li {
    margin-bottom: 0.8rem;
  }

  aside {
    font-size: 0.8rem;
    padding: 0.9rem 0.5rem;
    padding-right: 0;
  }

  footer {
    font-size: 0.7rem;
  }
}

/*******************************************
Mobile styles (screen width less than 600px): 
********************************************/

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  header section {
    font-size: 0.8rem;
  }

  main {
    font-size: 0.8rem;
    padding: 0.7rem;
  }

  main li {
    margin-bottom: 0.4rem;
  }

  aside {
    font-size: 0.65rem;
    padding: 0.7rem 0.5rem;
    padding-right: 0;
  }

  aside h2 {
    text-shadow: none;
  }

  aside a:link {
    text-shadow: none;
  }

  aside a:visited {
    text-shadow: none;
  }

  aside a:hover {
    font-weight: bold;
  }
  aside a:active {
    background-color: whitesmoke;
    font-style: italic;
  }
}

/*******************************************
Mobile styles (screen width less than 480px): 
********************************************/

@media screen and (max-width: 480px) 
{
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head "
      "main"
      "aside"
      "foot";
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem 2rem;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "sec"
      "img";
    text-align: center;
    border-bottom: none;
    margin: 0;
  }

  nav {
    font-size: 1.3rem;
    padding: 1rem 0.5rem;
    border-bottom: None;
  }

  header section {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-left: none;
  }

  header img {
    width: 70%;
    justify-self: center;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px darkgrey;
  }

  main {
    font-size: 0.9rem;
    padding: 0.1rem;
    padding-bottom: 0;
    border-left: none;
  }

  main h2 {
    text-align: center;
  }

  main section {
    margin-bottom: 0;
  }

  main ul {
    padding-left: 2rem;
  }

  main li {
    margin-bottom: 0;
    padding: 0.4rem;
  }

  aside h2 {
    color: black;
  }

  aside {
    color: black;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    padding-right: 0;
    text-align: center;
    background-color: whitesmoke;
  }

  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  aside li {
    padding: 0.1rem;
  }

  aside a:link {
    color: black;
  }

  aside a:visited {
    color: black;
  }

  aside a:hover {
    color: black;
    font-weight: bold;
  }
  aside a:active {
    color: black;
    background-color: whitesmoke;
    font-style: italic;
  }

  footer {
    font-size: 0.7rem;
    padding: 0.5rem;
    border-top: none;
  }
}

