/*

Author: Matthew Larsen
Date: 01/14/2025
Portfolio Project: HTML Resume
Filename: styles.css
File Description: CSS for index.html page

*/


/*
Site colors:

aside text
color: #ffffff;

body background
color: #f5f5f5;

header background 
color: #a1c4be

aside links
color: #cbcbcb;

shadows
color: #a9a9a9;

aside background
color: #404040;

body text
color: #000000 


*/



/*********************
Body Layout and General Styles
**********************/

body
{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", serif;
  color: #000000;
  background-color: #f5f5f5;
  font-size: 1rem;
}

h1
{
font-size: 2.5rem;
}

h1,h2
{
  font-weight: 600;
}

h2
{
  font-size: 1.3rem;
  margin-bottom: .8rem;
}



/*********************
Main Layout and Styles
**********************/

main 
{
  display: flex;
  flex-direction: row-reverse;
}



/*********************
Article Layout and Styles
**********************/

article 
{
  display: flex;
  flex-direction: column;
  border-bottom: .1rem solid #000000;
}

header 
{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 8rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: #a1c4be;
  border-top: .1rem solid #000000;
  border-bottom: .1rem solid #000000;
}

.bio
{
  padding: 2rem;
}

.summary
{
  margin-bottom: 1.5rem;
}

.work
{
  list-style: none;
}

.work p
{
  font-weight: 600;
  margin-bottom: .8rem;
}

.duties
{
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: .6rem;
}

.duties li
{
  margin-bottom: .2rem;
}



/**********************
Aside Layout and Styles
***********************/

aside 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 1rem;
  color: #ffffff;
  background-color: #404040;
  border-right: .1rem solid #000000;
  border-bottom: .1rem solid #000000;
}


/* Aside Image Styles */
img 
{
  align-self: center;
  width: 80%;
  border: 2px solid #000000;
  border-radius: 100rem;
  box-shadow: 3px 3px 10px #a9a9a9;
  margin-bottom: 2rem;
}


/* Aside Contact Styles */
.contact
{
  align-content: center;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: .1rem solid #f5f5f5;
}

.contactLinks
{
  text-align: center;
  list-style-type: none;
}

.contactLinks li
{
 margin-bottom: 1rem;
}

.contactLinks li:last-child
{
 margin-bottom: 0;
}


/* Aside Link Styles */
aside a:link 
{
  color:  #cbcbcb;
  text-decoration: none;
}

aside a:visited
{
  color:  #cbcbcb;
  text-decoration: none;
}

aside a:hover {
  color:  #ffffff;
  text-decoration: underline;
}

aside a:active
{
  background-color: #f5f5f5;
  font-style: italic;
}


/* Aside Section Styles */
aside section
{
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: .1rem solid #f5f5f5;
}

aside h2
{
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.education ul
{
  list-style-type: none;
}

.education li
{
  margin-bottom: .8rem;
}

.education li:last-child
{
 margin-bottom: 0;
}

.certifications ul
{
  padding-left: 1rem;
}

.certifications ul li
{
  margin-bottom: .8rem;
}

.certifications li:last-child
{
 margin-bottom: 0;
}

.skills
{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.skills ul
{
  padding-left: 1rem;
}

.skills ul li
{
  margin-bottom: .8rem;
}

.skills li:last-child
{
 margin-bottom: 0;
}



/**********************
Footer Layout and Styles
***********************/

footer 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #000000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer ul
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}

.socials
{
  margin-bottom: 2rem;
}

.socials li
{
  text-align: center;
}

/* Footer Link Styles */
footer a:link 
{
  color: #000000;
  text-decoration: none;
}

footer a:visited 
{
  color: #000000;
  text-decoration: none;
}

footer a:hover 
{
  color: #000000;
  font-weight: 550;
  text-decoration: underline;
}

footer a:active 
{
  color: #f5f5f5;
  background-color: #000000;
  font-style: italic;
}

footer p
{
  font-size: .7rem;
}



/*****************
Responsive styles:
******************/


/************************************************
Desktop styles (screen width less than 1100px): 
************************************************/

@media screen and (max-width: 1100px) 
{
  body
  {
    font-size: .8rem;
  }
    
  h1 
  {
    font-size: 2rem;
  }
  h2
  {
    font-size: 1rem;
  }

  header 
  {
    margin-top: 1rem;
    height: 6rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  aside 
  {
    font-size: .7rem;
  }

  aside h2
  {
    font-size: 1rem;
  }

  .contact
  {
    font-size: .6rem;
  }
  .socials
  {
    margin-bottom: 1.5rem;
  }

}


/*******************************************
Mobile styles (screen width less than 960px): 
********************************************/

@media screen and (max-width: 960px) 
{
    
  h1 
  {
    font-size: 1.5rem;
  }

  header 
  {
    margin-top: 1rem;
    height: 4rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  footer
  {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  footer p
  {
    font-size: .6rem;
  }

  .socials
  {
  margin-bottom: 1rem;
  }

}


/*******************************************
Mobile styles (screen width less than 720px): 
********************************************/

@media screen and (max-width: 720px) 
{
  body
  {
    font-size: .6rem;
  }
    
  h1 
  {
    font-size: 2rem;
  }
  
  h2
  {
    font-size: .8rem;
  }

  header 
  {
    height: 4rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
  }

  .bio
  {
    padding: 1rem;
  }

  aside 
  {
    font-size: .6rem;
  }

  aside h2
  {
    font-size: .8rem;
  }

  .contact
  {
    font-size: .6rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .contactLinks li:nth-child(2)
  {
    font-size: .45rem;
  }

  aside section
  {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  footer p
  {
    font-size: .5rem;
  }

}


/*******************************************
Mobile styles (screen width less than 600px): 
********************************************/

@media screen and (max-width: 600px) 
{
  body
  {
    font-size: .5rem;
  }

  h1 
  {
    font-size: 1.5rem;
  }
  
  h2
  {
    font-size: .7rem;
  }

  aside h2
  {
    font-size: .7rem;
  }

  aside section
  {
    font-size: .5rem;
  }

  .contact
  {
    font-size: .5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .contactLinks li:nth-child(2)
  {
    font-size: .35rem;
  }

  aside section
  {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  footer p
  {
    font-size: .5rem;
  }

  .socials
  {
  margin-bottom: .5rem;
  }
  
}


/*******************************************
Mobile styles (screen width less than 480px): 
********************************************/

@media screen and (max-width: 480px) 
{
  body
  {
    font-size: 1rem;
  }

  main 
  {
    display: flex;
    flex-direction: column;
  }

  header 
  {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 0;
    background-color: #a1c4be;
    margin-bottom: 39rem;
    border: none;
  }

  h1 
  {
    font-size: 2.1rem;
  }

  h2
  {
    font-size:1.5rem;
  }

  article 
  {
    border-bottom: none;
  }

  .bio
  {
    padding: 1rem;
    padding-bottom: 0;
    border: none;
  }

  .summary
  {
    border-top: .2rem solid #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .2rem solid #000000;
  }

  .work{
    font-size: 1rem;
  }

  .workHistory
  {
    padding-bottom: 1rem;
    margin-bottom: 0;
    border-bottom: .2rem solid #000000;
  }

  aside
  {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    color: #000000;
    background-color: #f5f5f5;
    border: none;
  }

  .me 
  {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  img 
  {
    width: 100%;
    border: none;
    border-radius: 0rem;
    box-shadow: .3rem .3rem .2rem .1rem #a9a9a9;
    margin-top: 7rem;
    margin-bottom: 1rem;
  }

  aside h2
  {
    font-size: 1.5rem;
    margin-bottom: .8rem;
  }

  .contact
  {
    text-align: center;
    width: 100%;
    border: none;    
  }

  .contactLinks li
  {
    margin-bottom: .5rem;
    font-size: 1.3rem;
    
  }

  .contactLinks li:nth-child(2)
  {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.1rem;
  }

  aside section
  {
    width: 88%;
    font-size: 1rem;
    color: #000000;
    background-color: #f5f5f5;
    border: none;
    padding-right: 1rem;
  }

  .education
  {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .2rem solid #000000;
  }

  .certifications
  {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .2rem solid #000000;
  }

  .skills
  {
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: .2rem solid #000000;
  }

  aside a:link 
  {
    color: #000000;
    text-decoration: none;
  }

  aside a:visited 
  {
    color: #000000;
    text-decoration: none;
  }

  aside a:hover 
  {
    color: #000000;
    font-weight: 550;
    text-decoration: underline;
  }

  aside a:active 
  {
    color: #f5f5f5;
    background-color: #000000;
    font-style: italic;
  }

  .socials
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .socials li
  {
    margin-bottom: .8rem;
  }

  footer p
  { 
    font-size: .7rem;
  }

}